body {
	font-family: "Coming Soon", cursive;
	font-family: "Quicksand", Arial, Helvetica, sans-serif;
	font-size: 1.125rem;
	letter-spacing: 0.0625rem;
	background-color: rgb(241, 204, 147);
}

h1 {
	font-size: 3rem;
	text-align: center;
	letter-spacing: 0.25rem;
}

.justifycenter {
	display: flex;
	justify-content: center;
}

#todoform input {
	padding: 0.75rem;
	border: none;
	border-bottom: 0.125rem solid #707070;
	background-color: #f0f0f0;
	font-family: "Coming Soon", cursive;
	font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

#todoform button {
	display: block;
	letter-spacing: 0.125rem;
	padding: 0.75rem;
	margin: 1rem auto;
	border: none;
	background-color: slateblue;
	color: white;
	font-family: "Coming Soon", cursive;
	font-family: "Quicksand", Arial, Helvetica, sans-serif;
	font-size: 1.125rem;
	cursor: pointer;
}

#todoform button:hover {
	background-color: rgb(83, 64, 207);
}

#todolist li {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 1rem;
	border: 0.125rem solid #707070;
	border-bottom: 0;
	background-color: #f0f0f0;
}

#todolist li:last-of-type {
	border-bottom: 0.125rem solid #707070;
}

#todolist li input {
	margin-left: 2rem;
	cursor: pointer;
}

#todolist li:has(input:checked) {
	text-decoration: line-through;
}
